body {
    margin: 0;
    padding: 0;
}

header {
    background: blue;
    margin: 0;
    padding: 10px 0;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 0;
}

main {
  padding: 0 20px;
}

footer {
    background: black;
    padding-top: 5px;
    height: 40px;
}

footer p {
    color: white;
}